{% extends 'base.html.twig' %}

{% block title %}Excuses generator{% endblock %}
{% block body %}

<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div>
            <button class="btn btn-primary" id="btn">Générer une excuse</button>
        </div>
        <p class="code" id="excuse_message">
            Tu as forcement une bonne raison..
        </p>
    </div>
</div>

{% block javascripts %}
{{ parent() }}
<script>
    window.onload = () => {
        let excuses = JSON.parse('{{ excuses|json_encode|raw }}')
        max = parseInt("{{ excuses | length +1}}")
        const btn = document.getElementById("btn");
        const excuse_message = document.getElementById("excuse_message");


        btn.addEventListener("click", () => {
            let number = Math.ceil(Math.random() * max)
            excuse_message.innerHTML = excuses[number].message
        })
    }
</script>
{% endblock %}

{% endblock %}